<h2>{{ publication }} - {{ year }}</h2>

<p>Number of Puzzles: {{ puzzles|length }}</p>

{% if prev_year %}
<a class="btn btn-primary btn-sm" href="/archive/{{ pub }}/{{ prev_year }}"
    role="button">&lt;- {{ prev_year }}</a>
{% endif %}
{% if prev_year and next_year %}|{% endif %}
{% if next_year %}
<a class="btn btn-primary btn-sm" href="/archive/{{ pub }}/{{ next_year }}"
    role="button">{{ next_year }} -&gt;</a>
{% endif %}

<style>
.archive-image {
    align-items: center;
    background-color: lightgray;
    border: 1px solid black;
    display: flex;
    height: 352px;
    justify-content: center;
    margin: 2px;
    padding: 6px;
    width: 272px;
}
.archive-link {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
}
.missing-image {
    align-items: center;
    background-color: red;
    border: 1px solid red;
    display: flex;
    height: 352px;
    justify-content: center;
    margin: 2px;
    width: 272px;
}
.puzzle-header {
    /* border: 1px solid black; */
    /* font-size: 18px; */
    margin-top: 1em;
    padding: 5px;
    width: auto;
}
img {
    border: 1px solid black;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
}
</style>

{% set placeholder_url = "https://upload.wikimedia.org/wikipedia/commons/6/65/No-Image-Placeholder.svg" %}

<div class="container">
  {% for puzzle in puzzles %}
  <div>
    <div class="row">
      <div class="puzzle-header">
        <h3>{{ puzzle.num }} - <a href="/puzzles/{{ puzzle.id }}">{{ puzzle.title }}</a></h3>
        Published {{ puzzle.issue if puzzle.pub == "atlantic" else puzzle.date.strftime("%A, %B %d, %Y") }}
      </div>
    </div>
    <div class="row">
      <!-- Puzzle Image -->
      {% if puzzle.puzzle_image_url %}
      <td><div class="archive-image">
        <!-- <a class="archive-link" href="/download/puzzle/{{ puzzle.id }}.pdf"><img src="{{ puzzle.puzzle_image_url }}"></a> -->
        <img src="{{ puzzle.puzzle_image_url }}">
      </div></td>
      {% else %}
      <td><div class="missing-image">
        <img src="{{ placeholder_url }}">
      </div></td>
      {% endif %}
      <!-- Solution Image -->
      {% if puzzle.solution_image_url %}
      <td><div class="archive-image">
        <!-- <a class="archive-link" href="/download/solution/{{ puzzle.id }}.pdf"><img src="{{ puzzle.solution_image_url }}"></a> -->
        <img src="{{ puzzle.solution_image_url }}">
      </div></td>
      {% else %}
      <td><div class="missing-image">
        <img src="{{ placeholder_url }}">
      </div></td>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
