<h2>{{ publication }} - {{ year }}</h2>

<p>Number of Puzzles: {{ puzzles|length }}</p>

{% if prev_year %}
<a class="btn btn-primary btn-sm" href="/archive/{{ pub }}/{{ prev_year }}"
    role="button">&lt;- {{ prev_year }}</a>
{% endif %}
{% if prev_year and next_year %}|{% endif %}
{% if next_year %}
<a class="btn btn-primary btn-sm" href="/archive/{{ pub }}/{{ next_year }}"
    role="button">{{ next_year }} -&gt;</a>
{% endif %}

<style>
.archive-image {
    align-items: center;
    background-color: lightgray;
    border: 1px solid black;
    display: flex;
    height: 440px;
    justify-content: center;
    padding: 5px;
    width: 340px;
}
.missing-image {
    align-items: center;
    background-color: red;
    border: 1px solid red;
    display: flex;
    height: 440px;
    justify-content: center;
    width: 340px;
}
img {
    border: 1px solid black;
    max-height: 100%;
    max-width: 100%;
    width: auto;
}
</style>

<table class="table">
  <thead>
    <tr>
        <th class="col-2">Puzzle Info</th>
        <th class="col-3">Puzzle</th>
        <th class="col-3">Solution</th>
    </tr>
  </thead>
  {% for puzzle in puzzles %}
  <tr>
    <td>#{{ puzzle.num }}</br>
        {{ puzzle.issue if puzzle.pub == "atlantic" else puzzle.date.date() }}</br>
        <strong>{{ puzzle.title }}</strong>
    </td>
    {% if puzzle.puzzle_image_url %}
    <td><div class="archive-image">
        <img src="{{ puzzle.puzzle_image_url }}">
    </div></td>
    {% else %}
    <td><div class="missing-image">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/65/No-Image-Placeholder.svg">
    </div></td>
    {% endif %}

    {% if puzzle.solution_image_url %}
    <td><div class="archive-image">
        <img src="{{ puzzle.solution_image_url }}"><br>
    </div></td>
    {% else %}
    <td><div class="missing-image">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/65/No-Image-Placeholder.svg">
    </div></td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
