<h2>Edit a Book ({{ book.id }})</h2>
<form action="/admin/books/{{ book.id }}/edit" method="POST" enctype="multipart/form-data">

  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="Title" value="{{ book.title }}">
  </div>

  <div class="mb-3">
    <label for="code" class="form-label">Code</label>
    <input type="text" class="form-control" id="code" name="code" placeholder="Code" value="{{ book.code }}">
  </div>

  <div class="mb-3">
    <label for="publisher" class="form-label">Publisher</label>
    <input type="text" class="form-control" id="publisher" name="publisher" placeholder="Publisher" value="{{ book.publisher }}">
  </div>

  <div class="mb-3">
    <label for="date" class="formDl">Date Published</label>
    <input type="text" class="form-control" id="date" name="date" placeholder="2022" value="{{ book.date }}">
  </div>

  <div class="mb-3">
    <label for="cover" class="form-label">Cover Image</label>
    <input class="form-control" type="file" id="cover" name="cover">
  </div>

  <div class="mb-3">
    <label for="amazon_link" class="form-label">Amazon Link</label>
    <input type="text" class="form-control" id="amazon_link" name="amazon_link" placeholder="Amazon Link" value="{{ book.amazon_link }}">
  </div>

  <div class="mb-3">
    <label for="isbn-10" class="form-label">ISBN-10</label>
    <input type="text" class="form-control" id="isbn-10" name="isbn-10" placeholder="ISBN-10" value="{{ book["isbn-10"] }}">
  </div>

  <div class="mb-3">
    <label for="isbn-13" class="form-label">ISBN-13</label>
    <input type="text" class="form-control" id="isbn-13" name="isbn-13" placeholder="ISBN-13" value="{{ book["isbn-13"] }}">
  </div>

  <div class="mb-3">
    <label for="notes">Notes</label>
    <textarea class="form-control" id="notes" name="notes" rows="3"></textarea>
  </div>

  <button type="submit" class="btn btn-primary mb-3">Save</button>

</form>
