<div class="welcome">
    <h1>Welcome to Hex</h1>
    <p class="lead">Celebrating puzzles by Emily Cox and Henry Rathvon.</p>
</div>

<ul class="list-group mb-5">
    <li class="list-group-item fs-3"><a href="/puzzles">Puzzles</a></li>
    <li class="list-group-item fs-3"><a href="/books">Books</a></li>
    <li class="list-group-item fs-3"><a href="/publications">Publications</a></li>
</ul>

<!--
<h2>Links</h2>
<ul>
  <li><a href="https://www.theatlantic.com/past/docs/unbound/wordgame/crbio.htm">Atlantic - Cox/Rathvon bio</a></li>
  <li><a href="https://www.theatlantic.com/past/docs/issues/puzzler/puzzler.htm">Atlantic Puzzler back issues</a></li>
  <li><a href="https://www.theatlantic.com/past/docs/issues/puzzclue.htm">Atlantic Puzzler instructions</a></li>
  <li><a href="https://www.cruciverb.com/">Cruciverb</a></li>
  <li><a href="http://chall.us/hex/hex_puzzles.html">Dan Chall's Hex Puzzles</a></li>
  <li><a href="https://www.patreon.com/hubcrosswords">Hub Crosswords</a>
  <li><a href="https://www.facebook.com/groups/74989506065/">The Puzzler (and other cryptic crosswords)</a> (Facebook Group)</li>
  <li>Wikipedia:
    <a href="https://en.wikipedia.org/wiki/Emily_Cox_(puzzle_writer)">Emily Cox</a>,
    <a href="https://en.wikipedia.org/wiki/Henry_Rathvon">Henry Rathvon</a>
  </li>
</ul> -->

<!-- <h2>Articles</h2>
<ul>
  <li><a href="https://www.theatlantic.com/magazine/archive/1997/08/77-north-washington-street/376937/">77 North Washington Street</a>
    - The Atlantic, 1997-08 by The Alantic Editors</li>
  <li><a href="https://www.nytimes.com/2009/07/12/fashion/12puzzle.html">No Puzzle in the Paper? I’m Blank!</a>
    - New York Times, 2009-07-10 by Douglas Quenqua</li>
  <li><a href="https://www.nytimes.com/2019/05/22/crosswords/who-made-my-puzzle-cox-rathvon.html">60 Seconds With Emily Cox and Henry Rathvon</a>
    - New York Times, 2019-05-22 by Deb Amlen</li>
</ul> -->
