
<div class="card">
  <h5 class="card-header">Profile</h5>
  <div class="card-body">
    <h5 class="card-title">{{ user.email }}</h5>
    <p class="card-subtitle">
      <small class="text-muted">ID: {{ user.id }}</small></br>
      <small class="text-muted">Role: {{ "Admin" if user.admin else "User" }}</small>
    </p>

    <div class="card-header mt-3 bg-success text-white">Solved Puzzles ({{ solved_count }})</div>
    {% for pub in solved|sort %}
    <div class="card-header mt-3 bg-secondary text-white">{{ pub }} ({{ solved[pub]|count }})</div>
    <ul class="list-group list-group-flush">
      {% for puzzle in solved[pub]|sort(attribute="date", reverse=True) %}
      <li class="list-group-item"><a href="/puzzles/{{ puzzle.id }}">{{ puzzle.title }}</a>
        - {{ puzzle.date.strftime("%Y-%m-%d") }} ({{ puzzle.pub }}#{{ puzzle.num }})
      </li>
      {% endfor %}
    </ul>
    {% endfor %}

    <div class="card-header mt-3 bg-danger text-white">Unsolved Puzzles ({{ unsolved_count }})</div>
    {% for pub in unsolved|sort %}
    <div class="card-header mt-3 bg-secondary text-white">{{ pub }} ({{ unsolved[pub]|count }})</div>
    <ul class="list-group list-group-flush">
      {% for puzzle in unsolved[pub]|sort(attribute="date", reverse=True) %}
      <li class="list-group-item"><a href="/puzzles/{{ puzzle.id }}">{{ puzzle.title }}</a>
        - {{ puzzle.date.strftime("%Y-%m-%d") }} ({{ puzzle.pub }}#{{ puzzle.num }})
      </li>
      {% endfor %}
    </ul>
    {% endfor %}

    </p>
  </div>
</div>
