<h2>{{ "Edit Puzzle:" if puzzle.id else "Add Puzzle" }} {{ puzzle.title if puzzle.id else "" }}</h2>

{% if puzzle.id %}
<form class="my-3" action="/admin/puzzles/{{ puzzle.id }}/edit" method="POST">
{% else %}
<form class="my-3" action="/admin/puzzles/add" method="POST">
{% endif %}

  {% if puzzle.id %}
  <div class="mb-3">
    <label for="id" class="form-label">ID</label>
    <input type="text" class="form-control" id="id" value="{{ puzzle.id }}" disabled>
  </div>
  {% endif %}

  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="title" name="title" value="{{ puzzle.title }}">
  </div>

  <div class="mb-3">
    <label for="publication" class="form-label">Publication</label>
    <select class="form-select" aria-label="Publication" name="publication">
      {% for pub in publications|sort(attribute="name") %}
      <option value="{{ pub.code }}" {{ "selected" if pub.code == puzzle.pub }}>{{ pub.name }} ({{ pub.code }})</option>
      {% endfor %}
    </select>
  </div>

  <div class="mb-3">
    <label for="num" class="form-label">Number</label>
    <input type="text" class="form-control" id="num" name="num" value="{{ puzzle.num if puzzle.num else "" }}">
  </div>

  <div class="mb-3">
    <label for="issue" class="form-label">Issue</label>
    <input type="text" class="form-control" id="issue" name="issue" value="{{ puzzle.issue if puzzle.issue else "" }}">
  </div>

  <div class="mb-3">
    <label for="date" class="form-label">Date</label>
    <input type="text" class="form-control" id="date" name="date" value="{{ puzzle.date.strftime("%Y-%m-%d") if puzzle.date else "" }}">
  </div>

  <div class="mb-3">
    <label for="books" class="form-label">Books</label>
    <input type="text" class="form-control" id="books" name="books" value="{{ ', '.join(puzzle.books) if puzzle.books else "" }}">
  </div>

  <div class="mb-3">
    <label for="web_link" class="form-label">Web Link</label>
    <input type="text" class="form-control" id="web_link" name="web_link" value="{{ puzzle.web_link if puzzle.web_link else "" }}">
  </div>

  <div class="mb-3">
    <label for="puzzle_link" class="form-label">Puzzle Link</label>
    <input type="text" class="form-control" id="puzzle_link" name="puzzle_link" value="{{ puzzle.puzzle_link if puzzle.puzzle_link else "" }}">
  </div>

  <div class="mb-3">
    <label for="answer_link" class="form-label">Answer Link</label>
    <input type="text" class="form-control" id="answer_link" name="answer_link" value="{{ puzzle.answer_link if puzzle.answer_link else "" }}">
  </div>

  <div class="mb-3">
    <label for="googledoc_link" class="form-label">Google Doc Link</label>
    <input type="text" class="form-control" id="googledoc_link" name="googledoc_link" value="{{ puzzle.googledoc_link if puzzle.googledoc_link else "" }}">
  </div>

  <div class="mb-3">
    <label for="puzzleme_link" class="form-label">PuzzleMe Link</label>
    <input type="text" class="form-control" id="puzzleme_link" name="puzzleme_link" value="{{ puzzle.puzzleme_link if puzzle.puzzleme_link else "" }}">
  </div>

  <button type="submit" class="btn btn-primary">{{ "Save" if puzzle.id else "Add" }}</button>

</form>
