<nav aria-label="Puzzle navigation">
  <ul class="pagination">
    {% if pagination.previous %}
    <li class="page-item"><a class="page-link" href="/puzzles/{{ pagination.previous }}">Previous</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="">Previous</a></li>
    {% endif %}
    {% if pagination.next %}
    <li class="page-item"><a class="page-link" href="/puzzles/{{ pagination.next }}">Next</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="">Next</a></li>
    {% endif %}
  </ul>
</nav>

{% set date = puzzle.date.strftime("%Y-%m") if puzzle.pub == "atlantic" else puzzle.date.strftime("%Y-%m-%d") %}
<div class="card">
  <h2 class="card-header">

    <a onClick="navigator.clipboard.writeText('{{ date }} {{ puzzle.title }}');">{{ puzzle.title }}</a>
    {% if admin %}
    <a class="btn btn-primary btn-sm float-end" href="/admin/puzzles/{{ puzzle.id }}/edit" role="button">Edit</a>
    {% endif %}
  </h2>
  <div class="card-body">
    <h5 class="card-title">{{ publication.name }}{{ " (#" + puzzle.num + ")" if publication.code == "atlantic" }}</h5>
    <p class="card-subtitle">{{ puzzle.issue if puzzle.issue else puzzle.date.strftime('%A, %B %-d, %Y') }}</p>

    {% if user.id %}
    <p class="card-text">
      {% if not solved %}
      <a class="btn btn-sm btn-secondary" href="/puzzles/{{ puzzle.id }}/solve">Unsolved</a>
      {% else %}
      <a class="btn btn-sm btn-success" href="/puzzles/{{ puzzle.id }}/unsolve">Solved</a>
      {% endif %}
    </p>
    {% endif %}

    <p class="pt-2 small">
        {% if puzzle.books %}
        <b>Books:</b>
        {{ ", ".join(puzzle.books)}}<br>
        {% endif %}
        <b>Links:</b>
        {% if puzzle.web_link %}
        <a href="{{ puzzle.web_link }}" target="_hex_puzzle">Web</a>
        {% endif %}
        {% if puzzle.puzzle_link %}
        <a href="{{ puzzle.puzzle_link }}" target="_hex_puzzle">Puzzle</a>
        {% endif %}
        {% if puzzle.answer_link %}
        <a href="{{ puzzle.answer_link }}" target="_hex_puzzle">Answer</a>
        {% endif %}
        {% if puzzle.googledoc_link %}
        <a href="{{ puzzle.googledoc_link }}" target="_hex_puzzle">Doc</a>
        {% endif %}
        {% if puzzle.puzzleme_link %}
        <a href="{{ puzzle.puzzleme_link }}" target="_hex_puzzle">PuzzleMe</a>
        {% endif %}
    </p>
    <div>
        <!-- Images -->
        <h4 class="pt-1">Images</h4>
        <div class="row">
            <div class="col border border-primary m-2 bg-secondary text-center" style="--bs-bg-opacity: .5;">
                {% if puzzle_url %}
                <a href="{{ puzzle_pdf }}" target="_blank"><img class="p-3 center-block img-fluid" src="{{ puzzle_url }}"></a>
                {% else %}n/a{% endif %}
            </div>
            <div class="col border border-primary m-2 bg-secondary text-center" style="--bs-bg-opacity: .5;">
                {% if answer_url %}
                <a href="{{ answer_pdf}}" target="_blank"><img class="p-3 center-block img-fluid" src="{{ answer_url }}"></a>
                {% else %}n/a{% endif %}
            </div>
        </div>
        <div class="row small">
            <div class="col">
                Download Puzzle:
                <a href="/download/puzzle/{{ puzzle.id }}.pdf" target="_blank" download="{{ date }} {{ puzzle.title }}.pdf">PDF</a>,
                <a href="/download/puzzle/{{ puzzle.id }}.png" target="_blank" download="{{ date }} {{ puzzle.title }}.png">PNG</a>
            </div>
            <div class="col">
                Download Answer:
                <a href="/download/solution/{{ puzzle.id }}.pdf" target="_blank" download="{{ date }} {{ puzzle.title }} (solution).pdf">PDF</a>,
                <a href="/download/solution/{{ puzzle.id }}.png" target="_blank" download="{{ date }} {{ puzzle.title }} (solution).png">PNG</a>
            </div>
        </div>

        <!-- Grids -->
        <h4 class="pt-3">Grids</h4>
        <div class="row">
            <div class="col border border-primary m-2 bg-secondary text-center" style="--bs-bg-opacity: .5;">
                {% if puzzle_svg -%}
                <a href="{{ puzzle_svg }}" target="_blank"><img class="p-3 center-block img-fluid" src="{{ puzzle_svg }}"></a>
                {% else %}n/a{% endif %}
            </div>
            <div class="col border border-primary m-2 bg-secondary text-center" style="--bs-bg-opacity: .5;">
                {% if answer_svg %}
                <a href="{{ answer_svg }}" target="_blank"><img class="p-3 center-block img-fluid" src="{{ answer_svg }}"></a>
                {% else %}n/a{% endif %}
            </div>
        </div>
        {% set bargrids = "https://lukwam.github.io/bargrids/" %}
        {% set bargrids_dev = "https://8000-cs-76065915634-default.cs-us-east1-vpcf.cloudshell.dev/" %}
        <div class="row small">
            <div class="col">
                {% if puzzle_svg %}
                Download Puzzle:
                <a href="/download/puzzle/{{ puzzle.id }}.svg" target="_blank" download="{{ date }} {{ puzzle.title }}.svg">SVG</a><br>
                Open Puzzle in
                <a href="{{ bargrids }}?svg={{ puzzle_svg|quote_plus }}" target="_blank">BarGrids</a>
                {% endif %}
            </div>
            <div class="col">
                {% if answer_svg -%}
                Download Answer:
                <a href="/download/solution/{{ puzzle.id }}.svg" target="_blank" download="{{ date }} {{ puzzle.title }} (solution).svg">SVG</a><br>
                Open Answer in
                <a href="{{ bargrids }}?svg={{ answer_svg|quote_plus }}" target="_blank">BarGrids</a>
                {% endif %}
            </div>
        </div>
    </div>

</div>
