<h2>
    Puzzles ({{ puzzles|count }})
    {% if admin %}
    <a class="btn btn-primary btn-sm float-end" href="/admin/puzzles/add" role="button">Add</a>
    {% endif %}
</h2>

<table class="table">

  <tr class="table-primary">
    <th>Date</th>
    <th>Title</th>
    <th>Publication</th>
    <!-- <th>Books</th> -->
    <th>Links</th>
  </tr>

  {% for puzzle in puzzles|sort(attribute="date", reverse=true) %}
  <tr>
    <td>{{ puzzle.date.strftime("%Y-%m-%d") }}</td>
    <td><a href="/puzzles/{{ puzzle.id }}">{{ puzzle.title }}</a></td>
    <td><a href="/pubs/{{ puzzle.pub }}">{{ puzzle.pub }}</a></td>
    <!-- <td>{{ ", ".join(puzzle.books) if puzzle.books else "" }}</td> -->
    <td>
      {% if puzzle.web_link %}
      <a href="{{ puzzle.web_link }}" target="_puzzle">Web</a>{{ "," if puzzle.puzzle_link or puzzle.answer_link }}
      {% endif %}
      {% if puzzle.puzzle_link %}
      <a href="{{ puzzle.puzzle_link }}" target="_puzzle">Puzzle</a>{{ "," if puzzle.answer_link }}
      {% endif %}
      {% if puzzle.answer_link %}
      <a href="{{ puzzle.answer_link }}" target="_puzzle">Answer</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}

</table>
